.body {
  margin: 0%;
  max-width: fit-content;
}

.header {
  color: #9d9d95;
  background-color: #f0ece4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 100%;
  font-family: "open sans", "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue",
    Helvetica, Arial, sans-serif;
  width: 1440px;
}
.header a {
  text-decoration: none;
  color: #3c3c3b;
  font-family: "open sans", "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue",
    Helvetica, Arial, sans-serif;
}
.logo {
  height: 59px;
  width: 59px;
  z-index: 1;
}
.applephoto {
  display: flex;
  width: 1440px;
}
.under-header {
  color: #9d9d95;
  background-color: #f0ece4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 100%;
  height: 51px;
  font-family: "open sans", "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue",
    Helvetica, Arial, sans-serif;
  width: 1440px;
}
.under-header a {
  color: #3c3c3b;
  text-decoration: none;
  font-family: "open sans", "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue",
    Helvetica, Arial, sans-serif;
}
.flex-contianer {
  display: flex;
  font-family: "open sans", "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue",
    Helvetica, Arial, sans-serif;
  width: 1440px;
}
.container h2 {
  margin-top: 11px;
  margin-bottom: 11px;
  font-family: "open sans", "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue",
    Helvetica, Arial, sans-serif;
}
.flex-item p {
  margin-top: 11px;
  margin-bottom: 11px;
  font-size: 13px;
  line-height: 20px;
  font-family: "open sans", "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue",
    Helvetica, Arial, sans-serif;
}
.boka {
  color: #ffffff;
  border-color: #50715b;
  background-color: #70937d;
  width: 90px;
  height: 38px;
  float: right;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-right: none;
  border-top: none;
  border-left: none;
  font-family: "open sans", "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue",
    Helvetica, Arial, sans-serif;
}
.barockbord {
  width: 720px;
  height: 337px;
}
.garden {
  width: 720px;
  height: 433px;
  display: flex;
}
.flex-contianer1 {
  display: flex;
}
