
.body {
    Margin: 0%;
    width: 1440px;
    
}
.header {
    color: #9d9d95;
    background-color: #f0ece4;
display: flex;
justify-content: space-evenly;
align-items: center;
font-size: 100%;

}
.header a {
    text-decoration: none;
    color: #3c3c3b;
    font-family: 'Times New Roman', Times, serif;
}
.logo{
    height: 59px;
    width: 59px;
z-index: 1;
}
.startbild{
  display: flex;
  width: 1424px;
}
.container {
    background-color: #f8f7f5;

    padding-top: 50px;
    padding-bottom: 50px;;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
.hotell{
    text-align: center;
}
.text-p {
 margin-top: 11px;
margin-bottom: 11px;
display: block;
width: 1340px;
text-align: center;
box-sizing: border-box;
font-size: 18px;
color: #3c3c3b;
}